:root {
  --light-blue: #acecf7;
  --lighter-blue: #c7f1f9;
  --light-green: #8ef8b6;
  --green: #55bf81;
  --dark-green: #0d894f;
  --dark-green-text: #065531;
  --black-text-dark: #2e2e2e;
  --black-text-light: #4a4a4a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: var(--lighter-blue);
}

main {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.25rem;
}

h1,
h2 {
  color: var(--black-text-dark);
}

.underline {
  background-color: var(--dark-green);
  width: 8rem;
  height: 0.5rem;
}

nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-size: 1.75rem;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}

nav ul,
h3 {
  color: var(--dark-green-text);
}

nav ul li:hover {
  cursor: pointer;
}

section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-flow: row;
  width: 115rem;
  gap: 5rem 3rem;
}

.singleMenu {
  display: grid;
  grid-template-columns: fit-content(1rem) auto;
  grid-template-rows: fit-content(1rem) 1fr;
  row-gap: 1rem;
}

img {
  grid-area: 1 / 1 / span 2 / span 1;
  width: 25rem;
  height: 15rem;
  margin-right: 2rem;
  border: 0.3rem solid var(--dark-green);
  border-radius: 0.5rem;
}

.title {
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--black-text-light);
  border-bottom-style: dotted;
  white-space: nowrap;
  grid-area: 1 / 2 / span 1 / span 2;
  display: flex;
  justify-content: space-between;
}

h2,
h3 {
  font-size: 1.5rem;
}

h2 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

h3 {
  align-self: center;
  margin-right: 0.5rem;
}

p {
  grid-area: 2 / 2 / span 1 / span 2;
  font-size: 1.5rem;
  color: var(--black-text-light);
}
